html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@font-face {
	font-family: "welearn";
	src: url(fonts/WebYekan.woff) format("woff");
}
body {
	background: #fcfcfc;
	font-family: "welearn", "Myriad Pro", Tahoma;
	font-size: 14px;
}
.clearfix {
	clear: both;
}
input, textarea, button, select {
	font-family: "welearn";
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.clearfix {
	clear: both;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
@font-face {
	font-family: "welearn";
	src: url("fonts/Yekan.woff") format("woff");
}
body {
	background: #fcfcfc;
	font-family: "welearn", "Myriad Pro", Tahoma;
	font-size: 14px;
}
input, textarea, button, select {
	font-family: "welearn";
}
* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.clearfix {
	clear: both;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
.main {
	width: 1200px;
	margin: 0px auto;
}
.container {
	width: 1100px;
	margin: 0 auto;
}
.half {
	width: 50%;
	float: right;
	padding: 0 15px;
}
.pull-right {
	float: right;
}
.pull-left {
	float: left;
}
.area-title {
	text-align: center;
}
.area-title h2 {
	font-size: 13px;
	margin-bottom: 10px;
	color: #2a4755;
}
.area-title p {
	padding: 50px 0;
	font-size: 16px;
}
.masthead .top_menu {
	float: right;
	width: 100%;
	background: #182d37;
}
.masthead .top_menu ul li {
	display: inline-block;
}
.masthead .top_menu ul li a {
	display: block;
	padding: 15px 10px;
	font-size: 12px;
	color: #647067;
}
.masthead .top_menu ul li a:hover, .masthead .main_menu ul li a:hover {
	color: #8bc34a;
}
.masthead .main_menu {
	width: 100%;
	float: right;
	background: #fff;
}
.masthead .main_menu ul li {
	display: inline-block;
}
.masthead .main_menu ul li a {
	display: block;
	padding: 30px 10px;
	color: #182d37;
}
.masthead .logo {
	margin: 15px auto;
}
.gallery {
	width: 100%;
	float: right;
}
.gallery .gallery-item {
	width: 25%;
	float: right;
}
.gallery .gallery-item img {
	float: right;
}
.team {
	width: 100%;
	float: right;
	padding: 50px 0;
	background: #fff;
}
.team .team-details {
	width: 33.33%;
	float: right;
	padding: 15px;
}
.team .team-details img {
	float: right;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.team .team-details .team-content {
	float: right;
	line-height: 25px;
	padding: 25px;
	background: #f4f5f9;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.team .team-details .team-content h2 {
	margin-bottom: 10px;
	font-size: 18px;
	color: #8bc34a;
}
.team .team-details .team-content p {
	text-align: justify;
	color: #555;
}
.customer {
	width: 100%;
	float: right;
	background: #f4f5f9;
	padding: 50px 0;
}
.customer .item {
	width: 33.33%;
	float: right;
	margin: 20px auto 0;
	padding: 15px;
	position: relative;
}
.customer .item .item-tex {
	padding: 30px;
	background: #aeb6b9;
	text-align: center;
	font-size: 15px;
	line-height: 25px;
	color: #fff;
	border-radius: 3px;
}
.customer .item .active {
	background: #8bc34a;
}
.customer .item .item-info {
	margin: 10px auto;
}
.customer .item .item-info img {
	float: right;
	margin-left: 10px;
	border-radius: 50%;
}
.customer .item .item-info span {
	display: inline-block;
	padding: 15px 0 0;
	font-size: 13px;
}
.customer .item .item-info span.name {
	font-size: 16px;
}
.newsletter {
	width: 100%;
	float: right;
	position: relative;
	padding: 160px 0;
	background: url(images/newsletter_bg.png);
	background-size: cover;
	color: #fff;
}
.overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: rgba(139, 195, 74, 0.5);
}
.newsletter .title_newsletter {
	position: relative;
	margin: 20px auto 0;
	font-size: 30px;
}
.newsletter form {
	position: relative;
}
.newsletter input[type="text"] {
	width: 320px;
	height: 70px;
	float: right;
	padding: 20px;
	border: 0;
	font-size: 18px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.newsletter input[type="text"]:focus {
	outline: 0;
}
.newsletter input[type="submit"] {
	width: 200px;
	height: 70px;
	float: right;
	padding: 20px;
	border: 0;
	background: #182d37;
	color: #fff;
	font-size: 15px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
}
.newsletter input[type="submit"]:hover {
	background: #8bc34a;
}
.blog {
	width: 100%;
	float: right;
	padding: 100px 0;
}
.blog .blog_single {
	width: 33.33%;
	float: right;
	padding: 0 15px;
}
.blog .blog_single .blog_item {
	display: inline-block;
	padding: 15px 5px;
}
.blog .blog_single .blog_item h2 {
	margin-bottom: 10px;
	font-size: 18px;
}
.blog .blog_single .blog_item h2 a {
	color: #8bc34a;
}
.blog .blog_single .blog_item p {
	text-align: justify;
	line-height: 25px;
}
.footer {
	width: 100%;
	float: right;
	padding: 25px 0;
	background: #182d37;
	text-align: center;
	color: #3a5f68;
}